<div>
  <button type="button" class="form-builder__close-btn" aria-label="Close" (click)="closeSidebar()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="form-builder__field-selector">
    <div class="form-builder__field-selector__column">
      <h2>{{ "Select a type of Field" | localized }}</h2>
      <ul>
        <li
          class="form-builder__field-selector__item"
          *ngFor="let fieldType of availableFieldTypes"
          [ngClass]="{
            'form-builder__field-selector__item--selected': selectedFieldType === fieldType
          }"
          (click)="selectField(fieldType)">
          {{ fieldLabels[fieldType] | localized }}
        </li>
      </ul>
    </div>

    <div class="form-builder__field-selector__column">
      <h2>{{ "Add Options" | localized }}</h2>
      <ng-container *ngIf="selectedFieldType">
        <h3>{{ fieldLabels[selectedFieldType] | localized }}</h3>
        <div>
          <div>
            <app-form-field-properties
              [propertyForm]="propertyForm"
              [selectedFieldType]="selectedFieldType"
              [enableSetValidationOptions]="enableSetValidationOptions"
              [isSurvey]="isSurvey"
              [needContactDefaultValue]="needContactDefaultValue"
              [hasFeedBackText]="hasFeedBackText"></app-form-field-properties>
          </div>
          <div class="form-builder__field-selector__buttons">
            <button
              type="button"
              class="form-builder__btn form-builder__btn-secondary"
              (click)="closeSidebar()">
              {{ "Cancel" | localized }}
            </button>
            <button
              type="button"
              class="form-builder__btn form-builder__btn-primary"
              (click)="saveFieldProperties()">
              {{ "Save" | localized }}
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
