.btn {
  display: inline-block;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 6px 12px;
  font-weight: 400;
  text-align: center;
  text-decoration: none rgb(255, 255, 255) solid auto;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  vertical-align: middle;
  word-spacing: normal;
  letter-spacing: normal;
  line-height: 24px;
  color: rgb(255, 255, 255);
  background-color: rgba(169, 157, 184, 0.8);
  border: 0.8px solid rgba(169, 157, 184, 0.8);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
  text-rendering: auto;
  appearance: auto;

  &-sm {
    padding: 3px 10px;
    font-size: 0.75rem;
  }
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-top: 20px;

  .btn {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-primary {
  background-color: rgba(169, 157, 184, 0.8);
  border-color: rgba(169, 157, 184, 0.8);

  &:hover,
  &:active {
    background-color: rgba(169, 157, 184, 1);
    border-color: rgba(169, 157, 184, 1);
  }
}

.btn-secondary {
  background-color: rgba(148, 169, 160, 0.8);
  border-color: rgba(148, 169, 160, 0.8);

  &:hover,
  &:active {
    background-color: rgba(148, 169, 160, 1);
    border-color: rgba(148, 169, 160, 1);
  }
}

.btn-danger {
  background-color: rgba(230, 88, 88, 0.8);
  border-color: rgba(230, 88, 88, 0.8);

  &:hover,
  &:active {
    background-color: rgba(230, 88, 88, 1);
    border-color: rgba(230, 88, 88, 1);
  }
}

.btn-success {
  background-color: rgba(81, 167, 76, 0.8);
  border-color: rgba(81, 167, 76, 0.8);

  &:hover,
  &:active {
    background-color: rgba(81, 167, 76, 1);
    border-color: rgba(81, 167, 76, 1);
  }
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  line-height: 1;
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
