<form [formGroup]="propertyForm">
  <div class="form-group">
    <label for="validators">Name</label>
    <input type="text" id="name" formControlName="name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="validators">Validators</label>
    <input type="text" id="validators" formControlName="validators" class="form-control" />
  </div>
  <div class="form-group">
    <label for="classes">Classes</label>
    <input type="text" id="classes" formControlName="classes" class="form-control" />
  </div>
  <div class="form-group">
    <label for="placeholder">Placeholder</label>
    <input type="text" id="placeholder" formControlName="placeholder" class="form-control" />
  </div>
  <div class="form-group">
    <label for="label">Label</label>
    <input type="text" id="label" formControlName="label" class="form-control" />
  </div>
</form>
