<form [formGroup]="propertyForm" class="form-builder__propertyForm">
  <ng-container *ngFor="let field of fieldsToCreate">
    <div class="form-builder__form-row" [ngSwitch]="field.id">
      <div
        *ngSwitchCase="'validators'"
        formArrayName="validators"
        class="form-builder__propertyForm__array">
        <div
          *ngIf="enableSetValidationOptions"
          class="form-builder__form-group"
          [attr.data-tooltip]="field.name + 'Tooltip' | localized">
          <label class="form-builder__propertyForm__label"
            >{{ field.name | localized
            }}<span *ngIf="missingRequiredMap[field.id]" class="form-builder__required-asterisk"
              >*</span
            ></label
          >
          <div
            *ngFor="let control of propertyForm?.get('validators')?.controls; let i = index"
            [formGroupName]="i">
            <div class="form-builder__validator-group">
              <select formControlName="type" class="form-builder__form-select">
                <option value="" disabled>{{ "Select a validator" | localized }}</option>
                <option *ngFor="let option of validatorOptions" [value]="option">
                  {{ option }}
                </option>
              </select>
              <input
                *ngIf="showValueInput(control.get('type').value)"
                class="form-builder__form-control form-builder__form-control-sm"
                type="text"
                formControlName="value"
                placeholder="{{ 'Value' | localized }}" />
              <input
                class="form-builder__form-control form-builder__form-control-sm"
                type="text"
                formControlName="errormsg"
                placeholder="{{ 'Error Message' | localized }}" />
              <div class="form-builder__form-buttons">
                <button
                  class="form-builder__btn form-builder__btn-danger form-builder__btn-sm"
                  type="button"
                  (click)="removeControlFromFormArray('validators', i)">
                  {{ "Remove Validator" | localized }}
                </button>
              </div>
            </div>
          </div>
          <div class="form-builder__form-buttons">
            <button
              class="form-builder__btn form-builder__btn-success form-builder__btn-sm"
              type="button"
              (click)="addControlToFormArray('validators')">
              {{ "Add Validator" | localized }}
            </button>
          </div>
        </div>
      </div>
      <div
        *ngSwitchCase="'options'"
        formArrayName="options"
        class="form-builder__propertyForm__array"
        cdkDropList
        [cdkDropListData]="propertyForm?.get('options')?.controls"
        (cdkDropListDropped)="onDrop($event)">
        <div
          *ngIf="selectedFieldType !== formFieldType.NeedContact"
          class="form-builder__form-group"
          [attr.data-tooltip]="field.name + 'Tooltip' | localized">
          <label class="form-builder__propertyForm__label"
            >{{ field.name | localized
            }}<span *ngIf="missingRequiredMap[field.id]" class="form-builder__required-asterisk"
              >*</span
            ></label
          >
          <div class="form-builder__propertyForm__body form-builder__propertyForm__options">
            <div
              class="form-builder__propertyForm__option"
              *ngFor="let optionControl of propertyForm?.get('options')?.controls; let i = index"
              [formGroupName]="i"
              cdkDrag>
              <input
                class="form-builder__form-control form-builder__form-control-sm"
                type="text"
                formControlName="name"
                placeholder="{{ 'Option Text' | localized }}"
                [attr.maxlength]="300" />
              <input
                class="form-builder__form-control form-builder__form-control-sm"
                type="text"
                formControlName="value"
                placeholder="{{ 'Option Value' | localized }}"
                [attr.maxlength]="300" />
              <label class="form-builder__propertyForm__label">{{
                "Option Country" | localized
              }}</label>
              <input
                class="form-builder__form-control form-builder__form-control-sm"
                type="text"
                formControlName="country"
                placeholder="{{ 'Option Country' | localized }}"
                [attr.maxlength]="2" />
              <div class="form-builder__form-buttons">
                <button
                  class="form-builder__btn form-builder__btn-danger form-builder__btn-sm"
                  type="button"
                  (click)="removeControlFromFormArray('options', i)">
                  {{ "Remove Option" | localized }}
                </button>
                <span
                  class="form-builder__test-form__field-toolbar-icon form-builder__test-form__field-toolbar-icon--move"
                  [attr.data-tooltip]="'Move' | localized"
                  cdkDragHandle>
                  <i class="form-builder__bi form-builder__bi-arrows-move"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="form-builder__form-buttons">
            <button
              class="form-builder__btn form-builder__btn-success form-builder__btn-sm"
              type="button"
              (click)="addControlToFormArray('options')">
              {{ "Add Option" | localized }}
            </button>
          </div>
        </div>
      </div>
      <div
        *ngSwitchCase="'comment'"
        formGroupName="comment"
        class="form-builder__propertyForm__array">
        <div
          class="form-builder__form-group"
          [attr.data-tooltip]="field.name + 'Tooltip' | localized">
          <label class="form-builder__propertyForm__label"
            >{{ field.name | localized
            }}<span *ngIf="missingRequiredMap[field.id]" class="form-builder__required-asterisk"
              >*</span
            ></label
          >
          <div *ngIf="shouldShowFields('comment')">
            <input
              class="form-builder__form-control form-builder__form-control-sm"
              type="text"
              formControlName="commentTitle"
              placeholder="{{ 'Comment title' | localized }}"
              [attr.maxlength]="1000" />
            <input
              class="form-builder__form-control form-builder__form-control-sm"
              type="text"
              formControlName="commentSubtitle"
              placeholder="{{ 'Comment subtitle' | localized }}"
              [attr.maxlength]="3000" />
            <input
              class="form-builder__form-control form-builder__form-control-sm"
              type="text"
              formControlName="commentWarningMessage"
              placeholder="{{ 'Comment warning message' | localized }}"
              [attr.maxlength]="1000" />
          </div>
          <div class="form-builder__form-buttons">
            <button
              class="form-builder__btn form-builder__btn-sm"
              [ngClass]="
                shouldShowFields('comment')
                  ? 'form-builder__btn-danger'
                  : 'form-builder__btn-success'
              "
              type="button"
              (click)="toggleFieldVisibility('comment')">
              {{
                shouldShowFields("comment")
                  ? ("Remove Comment" | localized)
                  : ("Add Comment" | localized)
              }}
            </button>
          </div>
        </div>
      </div>
      <div
        *ngSwitchCase="'qeScales'"
        formArrayName="qeScales"
        class="form-builder__propertyForm__array">
        <div
          class="form-builder__form-group"
          [attr.data-tooltip]="field.name + 'Tooltip' | localized">
          <label class="form-builder__propertyForm__label"
            >{{ field.name | localized
            }}<span *ngIf="missingRequiredMap[field.id]" class="form-builder__required-asterisk"
              >*</span
            ></label
          >
          <div
            *ngFor="let qeScaleControl of propertyForm?.get('qeScales')?.controls; let i = index"
            [formGroupName]="i">
            <input
              class="form-builder__form-control form-builder__form-control-sm"
              type="text"
              formControlName="title"
              placeholder="{{ 'QE Scale Title' | localized }}"
              [attr.maxlength]="1000" />
            <input
              class="form-builder__form-control form-builder__form-control-sm"
              type="text"
              formControlName="subtitle"
              placeholder="{{ 'QE Scale Subtitle' | localized }}"
              [attr.maxlength]="3000" />

            <div formArrayName="qeScaleChildren" class="qe-scale-child">
              <div
                *ngFor="
                  let childControl of qeScaleControl?.get('qeScaleChildren')?.controls;
                  let j = index
                "
                [formGroupName]="j">
                <input
                  class="form-builder__form-control form-builder__form-control-sm"
                  type="text"
                  formControlName="title"
                  [attr.maxlength]="1000"
                  placeholder="{{ 'QE Scale Child Title' | localized }}" />

                <div class="form-builder__form-buttons">
                  <button
                    class="form-builder__btn form-builder__btn-danger form-builder__btn-sm"
                    type="button"
                    (click)="removeControlFromFormArray('qeScales.' + i + '.qeScaleChildren', j)">
                    {{ "Remove QE Scale Child" | localized }}
                  </button>
                </div>
              </div>
            </div>

            <div class="form-builder__form-buttons">
              <button
                class="form-builder__btn form-builder__btn-success form-builder__btn-sm"
                type="button"
                (click)="addControlToFormArray('qeScaleChildren', 'qeScales', i)">
                {{ "Add QE Scale Child" | localized }}
              </button>
            </div>

            <div class="form-builder__form-buttons">
              <button
                class="form-builder__btn form-builder__btn-danger form-builder__btn-sm"
                type="button"
                (click)="removeControlFromFormArray('qeScales', i)">
                {{ "Remove QE Scale" | localized }}
              </button>
            </div>
          </div>

          <div class="form-builder__form-buttons">
            <button
              class="form-builder__btn form-builder__btn-success form-builder__btn-sm"
              type="button"
              (click)="addControlToFormArray('qeScales')">
              {{ "Add QE Scale" | localized }}
            </button>
          </div>
        </div>
      </div>

      <div
        *ngSwitchCase="'rows'"
        formArrayName="rows"
        class="form-builder__propertyForm__array"
        cdkDropList
        [cdkDropListData]="propertyForm?.get('rows')?.controls"
        (cdkDropListDropped)="onDrop($event)">
        <div
          class="form-builder__form-group"
          [attr.data-tooltip]="field.name + 'Tooltip' | localized">
          <label class="form-builder__propertyForm__label"
            >{{ field.name | localized
            }}<span *ngIf="missingRequiredMap[field.id]" class="form-builder__required-asterisk"
              >*</span
            ></label
          >
          <div class="form-builder__propertyForm__body">
            <div
              *ngFor="let rowControl of propertyForm?.get('rows')?.controls; let i = index"
              [formGroupName]="i"
              cdkDrag>
              <input
                class="form-builder__form-control form-builder__form-control-sm"
                type="text"
                formControlName="title"
                placeholder="{{ 'Row Title' | localized }}"
                [attr.maxlength]="1000" />
              <div class="form-builder__form-buttons">
                <button
                  class="form-builder__btn form-builder__btn-danger form-builder__btn-sm"
                  type="button"
                  (click)="removeControlFromFormArray('rows', i)">
                  {{ "Remove Row" | localized }}
                </button>
                <span
                  class="form-builder__test-form__field-toolbar-icon form-builder__test-form__field-toolbar-icon--move"
                  [attr.data-tooltip]="'Move' | localized"
                  cdkDragHandle>
                  <i class="form-builder__bi form-builder__bi-arrows-move"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="form-builder__form-buttons">
            <button
              class="form-builder__btn form-builder__btn-success form-builder__btn-sm"
              type="button"
              (click)="addControlToFormArray('rows')">
              {{ "Add Row" | localized }}
            </button>
          </div>
        </div>
      </div>

      <ng-container *ngSwitchCase="'hasOther'">
        <ng-container *ngTemplateOutlet="defaultCheckbox; context: { field: field }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'active'">
        <ng-container *ngTemplateOutlet="defaultCheckbox; context: { field: field }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'hasNA'">
        <ng-container *ngTemplateOutlet="defaultCheckbox; context: { field: field }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'feedBackText'">
        <ng-container
          *ngTemplateOutlet="
            defaultCheckbox;
            context: {
              field: field,
              isDisabled:
                hasFeedBackText &&
                [formFieldType.Text, formFieldType.Textarea].includes(selectedFieldType) &&
                !propertyForm?.get('feedBackText')?.value
            }
          "></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'required'">
        <ng-container *ngIf="!enableSetValidationOptions">
          <ng-container
            *ngTemplateOutlet="
              defaultCheckbox;
              context: {
                field: field,
                isDisabled:
                  ['0', '1'].includes(needContactDefaultValue) &&
                  [
                    formFieldType.ContactName,
                    formFieldType.ContactSurname,
                    formFieldType.ContactEmail,
                    formFieldType.ContactPhone
                  ].includes(selectedFieldType)
              }
            ">
          </ng-container>
        </ng-container>
      </ng-container>
      <div *ngSwitchCase="'warningMessage'" class="form-builder__propertyForm__array">
        <ng-container *ngIf="!enableSetValidationOptions">
          <ng-container *ngTemplateOutlet="defaultInput; context: { field: field }"></ng-container>
        </ng-container>
      </div>
      <div *ngSwitchCase="'step'" class="form-builder__propertyForm__array">
        <ng-container *ngIf="isEditFieldProperties && steps.length > 1">
          <div
            class="form-builder__form-group"
            [attr.data-tooltip]="field.name + 'Tooltip' | localized">
            <label class="form-builder__propertyForm__label" for="stepSelect"
              >{{ field.name | localized
              }}<span *ngIf="missingRequiredMap[field.id]" class="form-builder__required-asterisk"
                >*</span
              ></label
            >
            <select
              [id]="field.id"
              [formControlName]="field.id"
              class="form-builder__form-select form-builder__form-select--w100">
              <option *ngFor="let step of steps" [value]="step">{{ step + 1 }}</option>
            </select>
          </div>
        </ng-container>
      </div>
      <div *ngSwitchCase="'description'" class="form-builder__propertyForm__array">
        <div
          class="form-builder__form-group"
          [attr.data-tooltip]="field.name + 'Tooltip' | localized">
          <label class="form-builder__propertyForm__label" [for]="field.id"
            >{{ field.name | localized
            }}<span *ngIf="missingRequiredMap[field.id]" class="form-builder__required-asterisk"
              >*</span
            ></label
          >
          <textarea
            [id]="field.id"
            [formControlName]="field.id"
            [attr.placeholder]="field.placeholder ? field.placeholder : null"
            rows="3"
            class="form-builder__form-control"
            [attr.maxlength]="3000"></textarea>
        </div>
      </div>
      <div *ngSwitchCase="'classes'" class="form-builder__propertyForm__array">
        <ng-container *ngIf="!isSurvey">
          <ng-container *ngTemplateOutlet="defaultInput; context: { field: field }"></ng-container>
        </ng-container>
      </div>
      <div *ngSwitchCase="'defaultValue'" class="form-builder__propertyForm__array">
        <div
          class="form-builder__form-group"
          [attr.data-tooltip]="field.name + 'Tooltip' | localized">
          <label class="form-builder__propertyForm__label" for="field.id"
            >{{ field.name | localized
            }}<span *ngIf="missingRequiredMap[field.id]" class="form-builder__required-asterisk"
              >*</span
            ></label
          >
          <select [id]="field.id" [formControlName]="field.id" class="form-builder__form-select">
            <option value="">N/A</option>
            <option value="1">{{ "Yes" | localized }}</option>
            <option value="0">{{ "No" | localized }}</option>
          </select>
        </div>
      </div>
      <div *ngSwitchDefault>
        <ng-container *ngTemplateOutlet="defaultInput; context: { field: field }"></ng-container>
      </div>
    </div>
  </ng-container>

  <ng-template #defaultCheckbox let-field="field" let-isDisabled="isDisabled">
    <div class="form-builder__propertyForm__array">
      <div
        class="form-builder__form-group form-builder__form-check"
        [attr.data-tooltip]="field.name + 'Tooltip' | localized">
        <input
          [id]="field.id"
          type="checkbox"
          [formControlName]="field.id"
          class="form-builder__form-check-input"
          [attr.disabled]="isDisabled ? true : null" />
        <label class="form-builder__form-check-label" [for]="field.id"
          >{{ field.name | localized
          }}<span *ngIf="missingRequiredMap[field.id]" class="form-builder__required-asterisk"
            >*</span
          ></label
        >
      </div>
    </div>
  </ng-template>

  <ng-template #defaultInput let-field="field">
    <div class="form-builder__propertyForm__array">
      <div
        class="form-builder__form-group"
        [attr.data-tooltip]="field.name + 'Tooltip' | localized">
        <label class="form-builder__propertyForm__label" [for]="field.id"
          >{{ field.name | localized
          }}<span *ngIf="missingRequiredMap[field.id]" class="form-builder__required-asterisk"
            >*</span
          ></label
        >
        <input
          type="text"
          [id]="field.id"
          [formControlName]="field.id"
          [attr.placeholder]="field.placeholder ? field.placeholder : null"
          class="form-builder__form-control"
          [attr.maxlength]="maxLengthMap[field.id]" />
      </div>
    </div>
  </ng-template>
</form>
