<form [formGroup]="propertyForm">
  <ng-container *ngFor="let field of fieldsToCreate">
    <div [ngSwitch]="field.name">
      <div *ngSwitchCase="'validators'" formArrayName="validators">
        <label>Validators</label>
        <div
          *ngFor="let control of propertyForm?.get('validators')?.controls; let i = index"
          [formGroupName]="i">
          <div class="validator-group">
            <select formControlName="type" class="form-select">
              <option value="" disabled>Select a validator</option>
              <option *ngFor="let option of validatorOptions" [value]="option">{{ option }}</option>
            </select>
            <input type="text" formControlName="value" placeholder="Value" />
            <input type="text" formControlName="errormsg" placeholder="Error Message" />
            <button type="button" (click)="removeControlFromFormArray('validators', i)">
              Remove Validator
            </button>
          </div>
        </div>
        <button type="button" (click)="addControlToFormArray('validators')">Add Validator</button>
      </div>
      <div *ngSwitchCase="'options'" formArrayName="options">
        <label>Options</label>
        <div
          *ngFor="let optionControl of propertyForm?.get('options')?.controls; let i = index"
          [formGroupName]="i">
          <input type="text" formControlName="name" placeholder="Option Name" />
          <input type="text" formControlName="value" placeholder="Option Value" />
          <button type="button" (click)="removeControlFromFormArray('options', i)">
            Remove Option
          </button>
        </div>
        <button type="button" (click)="addControlToFormArray('options')">Add Option</button>
      </div>
      <div *ngSwitchDefault [formGroup]="propertyForm">
        <div class="form-group">
          <label [for]="field.name">{{ field.name }}</label>
          <input
            [type]="text"
            [id]="field.name"
            [formControlName]="field.name"
            class="form-control" />
        </div>
      </div>
    </div>
  </ng-container>
</form>
