<h1 class="form-heading">{{ formOptions[currentStep].title }}</h1>
<ng-container *ngFor="let form of forms; let i = index">
  <form
    [formGroup]="forms[currentStep]"
    *ngIf="i === currentStep || forms.length === 1"
    class="needs-validation">
    <div class="row">
      <ng-container *ngFor="let field of formContent[currentStep]">
        <div class="mb-3" [ngClass]="field.classes">
          <label [for]="field.name" class="form-label">{{ field.title }}</label>
          <div [ngSwitch]="field.type">
            <ng-container *ngSwitchCase="'textarea'">
              <textarea
                [id]="field.name"
                [formControlName]="field.name"
                class="form-control"></textarea>
            </ng-container>
            <ng-container *ngSwitchCase="'select'">
              <select [id]="field.name" [formControlName]="field.name" class="form-select">
                <option value="">Select your Country</option>
                <option *ngFor="let option of field.options" [value]="option">
                  {{ option }}
                </option>
              </select>
            </ng-container>
            <ng-container *ngSwitchCase="'checkbox-group'">
              <div [formArrayName]="field.name">
                <div *ngFor="let option of field.options" class="form-check">
                  <label class="form-check-label">
                    <input
                      [id]="field.name + option.name"
                      type="checkbox"
                      [formControlName]="option.name"
                      class="form-check-input" />
                    {{ option.name }}
                  </label>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'checkbox'">
              <input
                [id]="field.name"
                type="checkbox"
                [formControlName]="field.name"
                class="form-check-input" />
            </ng-container>
            <ng-container *ngSwitchCase="'radio'">
              <div *ngFor="let option of field.options" class="form-check">
                <label class="form-check-label">
                  <input
                    [id]="field.name"
                    type="radio"
                    [formControlName]="field.name"
                    [value]="option.value"
                    class="form-check-input" />
                  {{ option.name }}
                </label>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'likert'">
              <div [formGroupName]="field.name">
                <div class="row answer__container-row border-0">
                  <div class="col text-center answer__container-column p-0">
                    <h3>{{ field.title }}</h3>
                    <p>{{ field.subtitle }}</p>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col text-right">
                    <span>{{ field.optionsTitle }}</span>
                  </div>
                  <div class="col text-center">
                    <span>{{ field.option1 }}</span>
                  </div>
                  <div class="col text-center">
                    <span>{{ field.option2 }}</span>
                  </div>
                  <div class="col text-center">
                    <span>{{ field.option3 }}</span>
                  </div>
                  <div class="col text-center">
                    <span>{{ field.option4 }}</span>
                  </div>
                  <div class="col text-center">
                    <span>{{ field.option5 }}</span>
                  </div>
                </div>
                <div *ngFor="let row of field.rows" class="row text-center">
                  <div class="col-xl-2 text-left">
                    {{ row.name }}
                  </div>
                  <div class="col text-center" *ngFor="let value of [1, 2, 3, 4, 5]">
                    <input
                      type="radio"
                      class="form-check-input"
                      [formControlName]="field.name + row.name"
                      [value]="value" />
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'csat'">
              <div class="csat__container">
                <div class="row">
                  <div class="col text-center">
                    <h3>{{ field.title }}</h3>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col" *ngFor="let value of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                    <label>{{ value }}</label>
                    <input
                      type="radio"
                      class="form-check-input"
                      [formControlName]="field.name"
                      [value]="value" />
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'nps'">
              <div [formGroupName]="field.name" class="nps__container">
                <div class="row">
                  <div class="col text-center">
                    <h3>{{ field.title }}</h3>
                    <p>{{ field.subtitle }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-left">
                    <p>{{ field.firstAnswer }}</p>
                  </div>
                  <div class="col text-right">
                    <p>{{ field.lastAnswer }}</p>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col" *ngFor="let value of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                    <label>{{ value }}</label>
                    <input
                      type="radio"
                      class="form-check-input"
                      [formControlName]="field.name + 'value'"
                      [value]="value" />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h3>{{ field.commentTitle }}</h3>
                    <p>{{ field.commentSubtitle }}</p>
                    <textarea
                      class="form-control"
                      [formControlName]="field.name + 'comment'"></textarea>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <input
                [id]="field.name"
                [type]="field.type"
                [formControlName]="field.name"
                class="form-control" />
            </ng-container>
          </div>

          <div class="validation-error" *ngIf="isFieldInvalid(form, field.name)">
            {{ getValidationMessage(currentStep, field) }}
          </div>
        </div>
      </ng-container>
    </div>
    <div class="d-flex">
      <button
        *ngIf="currentStep !== 0"
        type="button"
        (click)="onPreviousStep()"
        class="btn btn-secondary me-2">
        Previous
      </button>
      <button
        *ngIf="currentStep === formOptions.length - 1"
        type="button"
        (click)="onSubmit()"
        class="btn btn-primary">
        Submit
      </button>
      <button
        *ngIf="currentStep !== formOptions.length - 1"
        type="button"
        (click)="onNextStep()"
        class="btn btn-primary">
        Next
      </button>
    </div>
  </form>
</ng-container>

<div class="test">
  <h2>Test</h2>
  <textarea [(ngModel)]="formFieldsText" class="form-control"></textarea>
  <div class="countrySelect">
    <select [(ngModel)]="country" class="form-select">
      <option value="">Select your Country</option>
      <option *ngFor="let option of countryOptions" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" (click)="createFormFromText()">Create form</button>
</div>
