<h1 class="form-heading">{{ formOptions[currentStep].title }}</h1>
<ng-container *ngFor="let form of forms; let i = index">
  <form
    [formGroup]="forms[currentStep]"
    *ngIf="i === currentStep || forms.length === 1"
    class="needs-validation">
    <div class="row">
      <ng-container *ngFor="let field of formFields[currentStep]">
        <div class="mb-3" [ngClass]="field.classes">
          <label *ngIf="field.type != 'checkbox'" [for]="field.key" class="form-label">{{
            field.label
          }}</label>
          <div [ngSwitch]="field.type">
            <ng-container *ngSwitchCase="'textarea'">
              <textarea
                [id]="field.key"
                [formControlName]="field.key"
                class="form-control"></textarea>
            </ng-container>
            <ng-container *ngSwitchCase="'select'">
              <select [id]="field.key" [formControlName]="field.key" class="form-select">
                <option value="">Select your Country</option>
                <option *ngFor="let option of field.options" [value]="option">
                  {{ option }}
                </option>
              </select>
            </ng-container>
            <ng-container *ngSwitchCase="'checkbox'">
              <div class="form-check">
                <input
                  [id]="field.key"
                  type="checkbox"
                  [formControlName]="field.key"
                  class="form-check-input" />
                <label [for]="field.key" class="form-check-label">{{ field.label }}</label>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'radio'">
              <div *ngFor="let option of field.options" class="form-check">
                <label class="form-check-label">
                  <input
                    [id]="field.key"
                    type="radio"
                    [formControlName]="field.key"
                    [value]="option"
                    class="form-check-input" />
                  {{ option }}
                </label>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <input
                [id]="field.key"
                [type]="field.type"
                [formControlName]="field.key"
                class="form-control" />
            </ng-container>
          </div>

          <div class="validation-error" *ngIf="isFieldInvalid(form, field.key)">
            {{ getValidationMessage(currentStep, field.key) }}
          </div>
        </div>
      </ng-container>
    </div>
    <div class="d-flex">
      <button
        *ngIf="currentStep !== 0"
        type="button"
        (click)="onPreviousStep()"
        class="btn btn-secondary me-2">
        Previous
      </button>
      <button
        *ngIf="currentStep === formOptions.length - 1"
        type="button"
        (click)="onSubmit()"
        class="btn btn-primary">
        Submit
      </button>
      <button
        *ngIf="currentStep !== formOptions.length - 1"
        type="button"
        [disabled]="forms[currentStep].invalid"
        (click)="onNextStep()"
        class="btn btn-primary">
        Next
      </button>
    </div>
  </form>
</ng-container>

<div class="test">
  <h2>Test</h2>
  <textarea [(ngModel)]="formFieldsText" class="form-control"></textarea>
  <div class="countrySelect">
    <select [(ngModel)]="country" class="form-select">
      <option value="">Select your Country</option>
      <option *ngFor="let option of countryOptions" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" (click)="createFormFromText()">Create form</button>
</div>
