<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor="let field of formFields">
    <label>{{ field.label }}</label>
    <div [ngSwitch]="field.type">
      <input *ngSwitchCase="'text'" type="text" [formControlName]="field.name" />
      <input *ngSwitchCase="'date'" type="date" [formControlName]="field.name" />
      <input *ngSwitchCase="'checkbox'" type="checkbox" [formControlName]="field.name" />
      <select *ngSwitchCase="'dropdown'" [formControlName]="field.name">
        <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
      </select>
      <div *ngSwitchCase="'controlWithLabel'">
        <label>{{ field.label }}</label>
        <input type="text" [formControlName]="field.name" />
      </div>
      <div *ngSwitchCase="'dropZone'"></div>
    </div>
    <div *ngIf="isFieldInvalid(field.name)">
      <div *ngFor="let error of form.get(field.name).errors | keyvalue">
        <ng-container [ngSwitch]="error.key">
          <div *ngSwitchCase="errorKeys.Required">Обязательное поле</div>
          <div *ngSwitchCase="errorKeys.MinLength">
            Минимальная длина {{ form.get(field.name).errors?.minlength.requiredLength }}
          </div>
          <div *ngSwitchCase="errorKeys.MaxLength">
            Максимальная длина {{ form.get(field.name).errors?.maxlength.requiredLength }}
          </div>
          <div *ngSwitchCase="errorKeys.Pattern">Неправильный формат</div>
          <div *ngSwitchCase="errorKeys.Email">Неправильный адрес электронной почты</div>
          <div *ngSwitchCase="errorKeys.Min">
            Значение должно быть больше {{ form.get(field.name).errors?.min.min }}
          </div>
          <div *ngSwitchCase="errorKeys.Max">
            Значение должно быть меньше {{ form.get(field.name).errors?.max.max }}
          </div>
          <div *ngSwitchCase="errorKeys.RequiredTrue">Подтвердите согласие</div>
        </ng-container>
      </div>
    </div>
  </div>
  <button type="submit">Отправить</button>
</form>

<textarea [(ngModel)]="formFieldsText" rows="10" cols="50"></textarea>
<button (click)="createFormFromText()">Создать форму из текста</button>
