<ng-container *ngFor="let form of forms; let i = index">
  <form [formGroup]="forms[i]" *ngIf="i === currentStep || forms.length === 1">
    <div *ngFor="let field of formFields[i]">
      <label [for]="field">{{ field.label }}</label>
      <div [ngSwitch]="field.type">
        <ng-container *ngSwitchCase="'textarea'">
          <textarea [formControlName]="field.key"></textarea>
        </ng-container>
        <ng-container *ngSwitchCase="'select'">
          <select [formControlName]="field.key">
            <option value="">Select your Country</option>
            <option *ngFor="let option of field.options" [value]="option">
              {{ option }}
            </option>
          </select>
        </ng-container>
        <ng-container *ngSwitchCase="'checkbox'">
          <input type="checkbox" [formControlName]="field.key" />
        </ng-container>
        <ng-container *ngSwitchDefault>
          <input [type]="field.type" [formControlName]="field.key" />
        </ng-container>
      </div>
      <!-- <div *ngIf="isFieldInvalid(field.name)">
      <div *ngFor="let error of form[currentStep].get(field.name).errors | keyvalue">
        <ng-container [ngSwitch]="error.key">
          <div *ngSwitchCase="errorKeys.Required">Обязательное поле</div>
          <div *ngSwitchCase="errorKeys.MinLength">
            Минимальная длина
            {{ form[currentStep].get(field.name).errors?.minlength.requiredLength }}
          </div>
          <div *ngSwitchCase="errorKeys.MaxLength">
            Максимальная длина
            {{ form[currentStep].get(field.name).errors?.maxlength.requiredLength }}
          </div>
          <div *ngSwitchCase="errorKeys.Pattern">Неправильный формат</div>
          <div *ngSwitchCase="errorKeys.Email">Неправильный адрес электронной почты</div>
          <div *ngSwitchCase="errorKeys.Min">
            Значение должно быть больше {{ form[currentStep].get(field.name).errors?.min.min }}
          </div>
          <div *ngSwitchCase="errorKeys.Max">
            Значение должно быть меньше {{ form[currentStep].get(field.name).errors?.max.max }}
          </div>
          <div *ngSwitchCase="errorKeys.RequiredTrue">Подтвердите согласие</div>
        </ng-container>
      </div>
    </div> -->
    </div>
    <div>
      <button *ngIf="currentStep !== 0" type="button" (click)="onPreviousStep()">Previous</button>
      <button *ngIf="currentStep === formOptions.length - 1" type="button" (click)="onSubmit()">
        Submit
      </button>
      <button
        *ngIf="currentStep !== formOptions.length - 1"
        type="button"
        [disabled]="forms[i].invalid"
        (click)="onNextStep()">
        Next
      </button>
    </div>
  </form>
</ng-container>

<!-- <textarea [(ngModel)]="formFieldsText" rows="30" cols="70"></textarea>
<button (click)="createFormFromText()">Создать форму из текста</button> -->
