<div class="test-form" cdkDropList (cdkDropListDropped)="onDrop($event)">
  <div class="test-form__header">
    <h2 class="test-form__title">Form Constructor</h2>
  </div>

  <div class="test-form__body">
    <h3 class="test-form__step">Step {{ currentStep + 1 }}</h3>
    <form [formGroup]="dynamicForm">
      <ng-container *ngFor="let field of addedFields">
        <div class="test-form__block" cdkDrag>
          <div class="test-form__label">
            <label class="form-label">{{ field.title }}</label>
          </div>
          <div class="test-form__field" [ngSwitch]="field.type">
            <div class="test-form__field-label">
              <span>{{ fieldLabels[field.type] }}</span>
            </div>
            <div class="test-form__field-toolbar">
              <span
                class="test-form__field-toolbar-icon"
                data-tooltip="Delete"
                (click)="removeField(field)"
                ><i class="bi bi-trash"></i
              ></span>
              <span
                class="test-form__field-toolbar-icon"
                data-tooltip="Edit"
                (click)="openFieldPropertiesModal(field)"
                ><i class="bi bi-pencil"></i
              ></span>
              <span
                class="test-form__field-toolbar-icon"
                data-tooltip="Copy"
                (click)="copyField(field)"
                ><i class="bi bi-files"></i
              ></span>
              <span
                class="test-form__field-toolbar-icon test-form__field-toolbar-icon--move"
                data-tooltip="Move"
                cdkDragHandle>
                <i class="bi bi-arrows-move"></i>
              </span>
            </div>
            <ng-container *ngSwitchCase="'textarea'">
              <textarea
                [id]="field.id"
                [formControlName]="field.id"
                (mousedown)="preventDefault($event)"
                class="form-control"></textarea>
            </ng-container>
            <ng-container *ngSwitchCase="'select'">
              <select
                [id]="field.id"
                [formControlName]="field.id"
                (mousedown)="preventDefault($event)"
                class="form-select">
                <option value="">{{ field.placeholder }}</option>
                <option *ngFor="let option of field.options" [value]="option.value">
                  {{ option.label }}
                </option>
              </select>
            </ng-container>
            <ng-container *ngSwitchCase="'checkbox'">
              <div *ngFor="let option of field.options" class="form-check">
                <input
                  [id]="field.id + option.value"
                  type="checkbox"
                  [formControlName]="field.id"
                  [value]="option.value"
                  class="form-check-input"
                  (mousedown)="preventDefault($event)" />
                <label [for]="field.id + option.value" class="form-check-label">{{
                  option.name
                }}</label>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'radio'">
              <div *ngFor="let option of field.options" class="form-check">
                <input
                  [id]="field.id + option.value"
                  type="radio"
                  [formControlName]="field.id"
                  [value]="option.value"
                  class="form-check-input"
                  (mousedown)="preventDefault($event)" />
                <label [for]="field.id + option.value" class="form-check-label">{{
                  option.name
                }}</label>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <input
                [id]="field.id"
                [type]="field.type"
                [formControlName]="field.id"
                class="form-control"
                (mousedown)="preventDefault($event)"
                (click)="preventDefault($event)" />
            </ng-container>
          </div>
        </div>
      </ng-container>
    </form>

    <ng-container *ngFor="let block of conditionalLogicBlocks; let i = index">
      <app-conditional-logic-block
        [block]="block"
        [addedFields]="addedFields"
        (remove)="removeConditionalLogicBlock(i)">
      </app-conditional-logic-block>
    </ng-container>
  </div>
  <div class="test-form__footer">
    <div class="test-form__stepButtons">
      <button class="btn btn-primary" (click)="openFieldsInsertingModal()">Insert Field</button>
      <button class="btn btn-primary" (click)="insertConditionalLogicBlock()">
        Insert Conditional Logic Block
      </button>
      <button
        class="btn btn-primary"
        (click)="saveCurrentStepData()"
        [disabled]="!conditionalLogicBlocks.length">
        Save Conditional Logic Blocks Data
      </button>
    </div>

    <div class="test-form__stepButtons">
      <button *ngIf="currentStep > 0" class="btn btn-primary" (click)="goToPreviousStep()">
        Previous Step
      </button>
      <button class="btn btn-primary" (click)="goToNextStep()">Next Step</button>
      <button class="btn btn-danger" (click)="clearFormConfirmation()">Clear Form</button>
    </div>

    <ng-container *ngIf="formData.length > 0">
      <span>Go to:</span>
      <div class="test-form__stepButtons">
        <button
          class="btn btn-secondary"
          *ngFor="let step of formData; let i = index"
          (click)="goToStep(i)">
          Step {{ i + 1 }}
        </button>
      </div>
    </ng-container>
  </div>
</div>
