.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-arrow-right::before {
  content: "\f138";
}

.bi-pencil::before {
  content: "\f4cb";
}

.bi-trash::before {
  content: "\f5de";
}

.bi-files::before {
  content: "\f3c2";
}

.bi-arrows-move::before {
  content: "\f14e";
}

.bi-arrow-left::before {
  content: "\f12f";
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 6px 12px;
  font-weight: 400;
  text-align: center;
  text-decoration: none rgb(255, 255, 255) solid auto;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  vertical-align: middle;
  word-spacing: normal;
  letter-spacing: normal;
  line-height: 18px;
  color: rgb(255, 255, 255);
  background-color: rgba(169, 157, 184, 0.8);
  border: 0.8px solid rgba(169, 157, 184, 0.8);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
  text-rendering: auto;
  appearance: auto;

  &-sm {
    padding: 3px 10px;
    font-size: 0.75rem;
  }
}

.btn-primary {
  background-color: rgba(169, 157, 184, 0.8) !important;
  border-color: rgba(169, 157, 184, 0.8) !important;

  &:hover,
  &:active {
    background-color: rgba(169, 157, 184, 1) !important;
    border-color: rgba(169, 157, 184, 1) !important;
  }
}

.btn-secondary {
  background-color: rgba(148, 169, 160, 0.8) !important;
  border-color: rgba(148, 169, 160, 0.8) !important;

  &:hover,
  &:active {
    background-color: rgba(148, 169, 160, 1) !important;
    border-color: rgba(148, 169, 160, 1) !important;
  }
}

.btn-danger {
  background-color: rgba(230, 88, 88, 0.8) !important;
  border-color: rgba(230, 88, 88, 0.8) !important;

  &:hover,
  &:active {
    background-color: rgba(230, 88, 88, 1) !important;
    border-color: rgba(230, 88, 88, 1) !important;
  }
}

.btn-success {
  background-color: rgba(81, 167, 76, 0.8) !important;
  border-color: rgba(81, 167, 76, 0.8) !important;

  &:hover,
  &:active {
    background-color: rgba(81, 167, 76, 1) !important;
    border-color: rgba(81, 167, 76, 1) !important;
  }
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.row .col {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.col {
  flex: 1 0 0%;
}

.p-0 {
  padding: 0 !important;
}

@media (min-width: 1200px) {
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}

.test-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;

  &__header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }

  &__main {
    flex-shrink: 0;
    width: 100%;
    transition: all 0.3s ease;

    &.collapsed {
      flex-shrink: 1;
      width: 55%;
    }
  }

  &__sidebar {
    background-color: #f7f7f7;
    padding: 25px;
    position: fixed;

    width: 45%;
    top: 0;
    right: 0;
    height: 100%;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 500;

    min-height: 100%;
    box-sizing: border-box;
    overflow-y: auto;

    &.opened {
      visibility: visible;
      transform: translateX(0);
    }
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &__step {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__body {
    min-height: 200px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__block {
    background-color: rgba(148, 169, 160, 0.15);
    padding-bottom: 40px;
    padding-top: 33px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #e5e7ebba;
    border-radius: 5px;

    &:hover {
      background-color: rgba(148, 169, 160, 0.08);
      .test-form__field-toolbar {
        opacity: 1;
      }

      .test-form__field-label {
        opacity: 1;
      }
    }
  }

  &__field {
    padding-left: 60px;
    padding-right: 60px;

    @media screen and (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    &-label {
      position: absolute;
      opacity: 0;
      transition: 0.2s;
      right: 10px;
      top: 5px;

      span {
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 14px;
        white-space: nowrap;
        display: block;
      }
    }

    &-toolbar {
      opacity: 0;
      transition: 0.2s;
      position: absolute;
      left: 10px;
      top: 7px;
      display: flex;

      &-icon {
        display: block;
        margin-right: 5px;
        cursor: pointer;
        position: relative;
        padding: 2px;

        &:before {
          content: attr(data-tooltip);
          position: absolute;
          left: 50%;
          transform: translate(-50%, -100%);
          top: 0;

          background: rgba(0, 0, 0, 0.8);
          color: white;
          padding: 4px 8px;
          border-radius: 4px;
          font-size: 14px;
          white-space: nowrap;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s, visibility 0.3s;
          z-index: 1;
        }

        &:hover:before {
          visibility: visible;
          opacity: 1;
        }

        &:last-child {
          margin-right: 0;
        }

        .bi {
          &:before {
            font-size: 16px;
          }
        }

        &--move {
          cursor: move;
        }
      }
    }
  }

  &__label {
    padding-left: 60px;
    padding-right: 60px;

    @media screen and (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__buttons {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    .btn {
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__stepButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__stepButton {
    &:last-child {
      margin-right: 0;
    }
  }

  .form-check-label {
    pointer-events: none;
  }

  .form-check {
    background-color: #fff;

    input {
      pointer-events: none;
    }
  }
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.stepButton {
  position: relative;

  &:hover {
    .stepButton__toolbar {
      opacity: 0.8;
      pointer-events: auto;
    }
  }

  &__toolbar {
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    grid-gap: 5px;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    transition: 0.2s;
    z-index: 1;
    width: 100%;
    margin-right: -5px;
    justify-content: center;
    pointer-events: none;
    background-color: #fff;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      padding: 2px;

      &:before {
        content: attr(data-tooltip);
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        top: 100%;

        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 14px;
        white-space: nowrap;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 1;
        pointer-events: none;
      }

      &:hover:before {
        visibility: visible;
        opacity: 1;
      }

      .bi {
        &:before {
          font-size: 16px;
        }
      }

      &--disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  &--active {
    .btn-secondary {
      background-color: #94a9a0 !important;
      border-color: #94a9a0 !important;
    }
  }
}

.qe-scale__container {
  h3 {
    font-size: 1.1em;
  }
}

.qe-scale__child {
  h3 {
    font-size: 1em;
  }
}
