<h2>UI</h2>
<h3>Step {{ currentStep + 1 }}</h3>

<div class="test-form" cdkDropList (cdkDropListDropped)="onDrop($event)">
  <form [formGroup]="dynamicForm">
    <ng-container *ngFor="let field of addedFields">
      <label *ngIf="field.type != 'checkbox'" [for]="field.id" class="form-label">{{
        field.label
      }}</label>
      <div class="test-form__field" [ngSwitch]="field.type" cdkDrag>
        <div class="test-form__field-toolbar">
          <span (click)="removeField(field)">Удалить</span>&nbsp;&nbsp;&nbsp;
          <span (click)="openFieldPropertiesModal(field)">Редактировать</span>
        </div>
        <ng-container *ngSwitchCase="'textarea'">
          <textarea
            [id]="field.id"
            [formControlName]="field.id"
            (mousedown)="preventDefault($event)"
            class="form-control"></textarea>
        </ng-container>
        <ng-container *ngSwitchCase="'select'">
          <select
            [id]="field.id"
            [formControlName]="field.id"
            (mousedown)="preventDefault($event)"
            class="form-select">
            <option value="">Select your Country</option>
            <option *ngFor="let option of field.options" [value]="option.value">
              {{ option.label }}
            </option>
          </select>
        </ng-container>
        <ng-container *ngSwitchCase="'checkbox'">
          <div class="form-check">
            <input
              [id]="field.id"
              type="checkbox"
              [formControlName]="field.id"
              class="form-check-input"
              (mousedown)="preventDefault($event)" />
            <label [for]="field.id" class="form-check-label">{{ field.label }}</label>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'radio'">
          <div *ngFor="let option of field.options" class="form-check">
            <label class="form-check-label">
              <input
                [id]="field.id"
                type="radio"
                [formControlName]="field.id"
                [value]="option.value"
                class="form-check-input"
                (mousedown)="preventDefault($event)" />
              {{ option.name }}
            </label>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <input
            [id]="field.id"
            [type]="field.type"
            [formControlName]="field.id"
            class="form-control"
            (mousedown)="preventDefault($event)"
            (click)="preventDefault($event)" />
        </ng-container>
      </div>
    </ng-container>
  </form>
</div>
<div class="test-form__stepButtons">
  <button class="btn btn-primary" (click)="openFieldsInsertingModal()">Insert Field</button>
</div>

<div class="test-form__stepButtons">
  <button *ngIf="currentStep > 0" class="btn btn-primary" (click)="goToPreviousStep()">
    Previous Step
  </button>
  <button class="btn btn-primary" (click)="goToNextStep()">Next Step</button>
</div>

<ng-container *ngIf="formData.length > 0">
  <span>Go to:</span>
  <div class="test-form__stepButtons">
    <button
      class="btn btn-secondary"
      *ngFor="let step of formData; let i = index"
      (click)="goToStep(i)">
      Step {{ i + 1 }}
    </button>
  </div>
</ng-container>
