<div class="test-form" cdkDropList (cdkDropListDropped)="onDrop($event)">
  <div class="test-form__header">
    <h2>UI</h2>
    <h3>Step {{ currentStep + 1 }}</h3>
  </div>

  <div class="test-form__body">
    <form [formGroup]="dynamicForm">
      <ng-container *ngFor="let field of addedFields">
        <div class="test-form__block" cdkDrag>
          <div class="test-form__label">
            <label class="form-label">{{ field.title }}</label>
          </div>
          <div class="test-form__field" [ngSwitch]="field.type">
            <div class="test-form__field-label">
              <span>{{ fieldLabels[field.type] }}</span>
            </div>
            <div class="test-form__field-toolbar">
              <span
                class="test-form__field-toolbar-icon"
                data-tooltip="Delete"
                (click)="removeField(field)"
                ><i class="bi bi-trash"></i
              ></span>
              <span
                class="test-form__field-toolbar-icon"
                data-tooltip="Edit"
                (click)="openFieldPropertiesModal(field)"
                ><i class="bi bi-pencil"></i
              ></span>
              <span
                class="test-form__field-toolbar-icon test-form__field-toolbar-icon--move"
                data-tooltip="Move"
                cdkDragHandle>
                <i class="bi bi-arrows-move"></i>
              </span>
            </div>
            <ng-container *ngSwitchCase="'textarea'">
              <textarea
                [id]="field.id"
                [formControlName]="field.id"
                (mousedown)="preventDefault($event)"
                class="form-control"></textarea>
            </ng-container>
            <ng-container *ngSwitchCase="'select'">
              <select
                [id]="field.id"
                [formControlName]="field.id"
                (mousedown)="preventDefault($event)"
                class="form-select">
                <option value="">{{ field.placeholder }}</option>
                <option *ngFor="let option of field.options" [value]="option.value">
                  {{ option.label }}
                </option>
              </select>
            </ng-container>
            <ng-container *ngSwitchCase="'checkbox'">
              <div *ngFor="let option of field.options" class="form-check">
                <input
                  [id]="field.id + option.value"
                  type="checkbox"
                  [formControlName]="field.id"
                  [value]="option.value"
                  class="form-check-input"
                  (mousedown)="preventDefault($event)" />
                <label [for]="field.id + option.value" class="form-check-label">{{
                  option.name
                }}</label>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'radio'">
              <div *ngFor="let option of field.options" class="form-check">
                <input
                  [id]="field.id + option.value"
                  type="radio"
                  [formControlName]="field.id"
                  [value]="option.value"
                  class="form-check-input"
                  (mousedown)="preventDefault($event)" />
                <label [for]="field.id + option.value" class="form-check-label">{{
                  option.name
                }}</label>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <input
                [id]="field.id"
                [type]="field.type"
                [formControlName]="field.id"
                class="form-control"
                (mousedown)="preventDefault($event)"
                (click)="preventDefault($event)" />
            </ng-container>
          </div>
        </div>
      </ng-container>
    </form>

    <ng-container *ngFor="let block of conditionalLogicBlocks; let i = index">
      <div class="conditional-logic-block">
        <div class="conditional-logic-block__top">
          <label for="fieldSelect">Select Field:</label>
          <select id="fieldSelect" [(ngModel)]="block.selectedField">
            <option *ngFor="let field of addedFields" [value]="field.id">
              {{ field.title || "Untitled " + fieldLabels[field.type] + " Field" }}
            </option>
          </select>

          <label for="conditionSelect">Select Condition:</label>
          <select id="conditionSelect" [(ngModel)]="block.selectedCondition">
            <option value="equals">Equals</option>
            <option value="greater">Greater Than</option>
          </select>

          <label for="conditionInput">Condition Value:</label>
          <input type="text" id="conditionInput" [(ngModel)]="block.conditionValue" />
        </div>

        <div class="conditional-logic-block__bottom">
          <label for="actionSelect">Select Action:</label>
          <select id="actionSelect" [(ngModel)]="block.selectedAction">
            <option value="show">Show Block</option>
            <option value="hide">Hide Block</option>
          </select>

          <label for="targetFieldSelect">Select Target Field:</label>
          <select id="targetFieldSelect" [(ngModel)]="block.selectedTargetField">
            <option *ngFor="let field of addedFields" [value]="field.id">
              {{ field.title || "Untitled " + fieldLabels[field.type] + " Field" }}
            </option>
          </select>
        </div>

        <button class="btn btn-danger" (click)="removeConditionalLogicBlock(i)">
          Remove Conditional Logic Block
        </button>
      </div>
    </ng-container>
  </div>
  <div class="test-form__footer">
    <div class="test-form__stepButtons">
      <button class="btn btn-primary" (click)="openFieldsInsertingModal()">Insert Field</button>
      <button class="btn btn-primary" (click)="insertConditionalLogicBlock()">
        Insert Conditional Logic Block
      </button>
      <button class="btn btn-primary" (click)="saveCurrentStepData()">
        Save Conditional Logic Block Data
      </button>
    </div>

    <div class="test-form__stepButtons">
      <button *ngIf="currentStep > 0" class="btn btn-primary" (click)="goToPreviousStep()">
        Previous Step
      </button>
      <button class="btn btn-primary" (click)="goToNextStep()">Next Step</button>
      <button class="btn btn-danger" (click)="clearFormConfirmation()">Clear Form</button>
    </div>

    <ng-container *ngIf="formData.length > 0">
      <span>Go to:</span>
      <div class="test-form__stepButtons">
        <button
          class="btn btn-secondary"
          *ngFor="let step of formData; let i = index"
          (click)="goToStep(i)">
          Step {{ i + 1 }}
        </button>
      </div>
    </ng-container>
  </div>
</div>
