/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

input.ng-invalid.ng-touched {
  border: red 1px solid;
  box-shadow: 0 0 0 0.1rem rgba(255, 76, 76, 0.966);
}

.test {
  margin-top: 50px;

  textarea {
    min-height: 300px;
    margin-bottom: 20px;
  }
}

.countrySelect {
  margin-bottom: 20px;
  margin-top: 20px;
}

.post {
  margin-top: 30px;
}

.modal-content {
  padding: 20px;

  h2 {
    text-align: center;
  }
}

.modal-dialog-centered {
  max-width: none;
  width: 700px;
  h2 {
    white-space: nowrap;
  }
}

.form-row {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-buttons {
  margin-bottom: 5px;
  margin-top: 5px;

  .btn {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-primary {
  background-color: rgba(169, 157, 184, 0.8) !important;
  border-color: rgba(169, 157, 184, 0.8) !important;

  &:hover,
  &:active {
    background-color: rgba(169, 157, 184, 1) !important;
    border-color: rgba(169, 157, 184, 1) !important;
  }
}

.btn-secondary {
  background-color: rgba(148, 169, 160, 0.8) !important;
  border-color: rgba(148, 169, 160, 0.8) !important;

  &:hover,
  &:active {
    background-color: rgba(148, 169, 160, 1) !important;
    border-color: rgba(148, 169, 160, 1) !important;
  }
}

.btn-danger {
  background-color: rgba(230, 88, 88, 0.8) !important;
  border-color: rgba(230, 88, 88, 0.8) !important;

  &:hover,
  &:active {
    background-color: rgba(230, 88, 88, 1) !important;
    border-color: rgba(230, 88, 88, 1) !important;
  }
}

.btn-success {
  background-color: rgba(81, 167, 76, 0.8) !important;
  border-color: rgba(81, 167, 76, 0.8) !important;

  &:hover,
  &:active {
    background-color: rgba(81, 167, 76, 1) !important;
    border-color: rgba(81, 167, 76, 1) !important;
  }
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}
