/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

body {
  padding: 100px;
  padding-top: 50px;
}

input.ng-invalid.ng-touched {
  border: red 1px solid;

  box-shadow: 0 0 0 0.1rem rgba(255, 76, 76, 0.966);
}
