.field-selector {
  display: flex;

  .form-group {
    margin-bottom: 10px;
  }

  &__column {
    padding-left: 20px;
    padding-right: 20px;

    &:first-child {
      width: 45%;
    }

    &:last-child {
      width: 55%;
    }

    h3 {
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
  &__item {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
    background-color: transparent;

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      background-color: rgba(55, 53, 47, 0.09);
    }
  }

  &__buttons {
    margin-top: 20px;

    .btn {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
