<div>
  <div class="field-selector">
    <div class="field-selector__column">
      <h2>Select a Field</h2>
      <ul>
        <li
          class="field-selector__item"
          *ngFor="let fieldType of availableFieldTypes"
          (click)="selectField(fieldType)">
          {{ fieldType }}
        </li>
      </ul>
    </div>
    <div class="field-selector__column">
      <h2>Add Options</h2>
      <h3>{{ selectedFieldType }}</h3>
      <div *ngIf="selectedFieldType">
        <div class="modal-header">
          <h4 class="modal-title">Добавить свойства поля</h4>
        </div>
        <div class="modal-body">
          <app-form-field-properties [propertyForm]="propertyForm"></app-form-field-properties>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveFieldProperties()">
            Сохранить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
